@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.tb {
  border: 1px solid red;
}
.wc {
  color: #fff;
}
body {
  font-family: "微软雅黑";
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 120px;
  background-color: #2f2f2f;
  color: #fff;
  line-height: 120px;
  border: 1px solid red;
}
header h2 {
  float: left;
  margin-left: 40px;
}
header .nav {
  float: right;
  margin-right: 10px;
}
header li {
  display: inline-block;
  margin-right: 30px;
}
.active {
  color: #29A58B;
}
.container {
  margin-top: 120px;
}
#about,
#vip,
#products,
#contact {
  border: 1px solid red;
}
#home .slide-wrapper {
  position: relative;
  width: 200%;
}
#home .slider {
  padding: 80px;
  float: left;
  width: 50%;
  display: flex;
}
#home .slider * {
  border: 1px solid red;
}
#home .slider .introduction {
  flex: 4;
}
#home .slider .img-wrapper {
  flex: 3;
  text-align: center;
  align-self: center;
}
#home .middle-panel {
  display: flex;
  padding: 60px;
  text-align: center;
}
#home .middle-panel .mid-col {
  padding: 20px 10px;
}
#home .middle-panel .fa {
  font-size: 50px;
  color: #29a58b;
  margin-bottom: 16px;
}
#home .middle-panel p {
  margin-top: 16px;
  color: #474747;
  font-size: 12px;
}
#about {
  color: #959595;
  display: flex;
  align-items: center;
  border: 1px solid red;
}
#about h1 {
  font-size: 40px;
  color: #252525;
}
#about h4 {
  color: #898989;
  margin: 5px 0 10px;
}
#about p {
  font-size: 14px;
  line-height: 2;
  margin-top: 20px;
}
#about .img-wrapper {
  align-items: center;
  border: 1px solid red;
}
#about .text-wrapper {
  padding: 50px;
}
#vip {
  color: #959595;
}
#vip h2 {
  text-align: center;
}
#vip .vip-wrapper {
  display: flex;
  align-items: center;
  height: 400px;
}
#vip .introduce {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
#vip .introduce .text-intro {
  width: 200px;
  margin-left: 40px;
}
#vip form {
  padding: 50px;
  text-align: center;
  font-size: 14px;
}
#vip input {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
}
#products .items {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}
#products .items .introduction {
  padding: 0 50px;
  flex: 4;
}
#products .items .introduction h3 {
  margin-bottom: 20px;
}
#products .items .introduction p {
  line-height: 22px;
  margin-bottom: 10px;
}
#products .items .img-wrapper {
  flex: 3;
  text-align: right;
  align-self: center;
}
#products h1 {
  margin-bottom: 50px;
}
#contact {
  display: flex;
  padding: 0 100px;
  color: #959595;
  font-size: 14px;
}
#contact form {
  flex: 2;
  margin-right: 40px;
}
#contact form h2 {
  margin-bottom: 30px;
  color: #080808;
}
#contact form input,
#contact form textarea {
  line-height: 30px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
#contact .address-wrapper {
  flex: 1;
  line-height: 28px;
}
#contact .address-wrapper .adress {
  margin-bottom: 60px;
  margin-top: 60px;
}
#contact .address-wrapper h4 {
  color: #080808;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #29a58b;
  color: #fff;
  line-height: 40px;
  padding: 30px;
}
footer a {
  float: right;
  padding: 16px 20px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.in-footer {
  position: relative;
}
#login {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background-color: #787878;
}
#login * {
  border: 1px solid red;
}
#login .in-login {
  border: 1px solid red;
  width: 500px;
  margin: 200px auto;
  padding: 80px 50px;
  background-color: #080808;
}
#login form {
  text-align: center;
  color: #fff;
}
#login input {
  line-height: 20px;
  margin-bottom: 10px;
}
#manager .side-nav {
  width: 240px;
  height: 800px;
  float: left;
  background-color: #2f2f2f;
  color: #fff;
}
#manager ul {
  list-style-type: none;
  padding: 40px;
  line-height: 90px;
  font-size: 20px;
}
.in-manager {
  margin-left: 240px;
  padding: 60px;
}
#add-product {
  display: flex;
}
#add-product .product-info {
  margin-left: 50px;
}
#customer-list h3 {
  text-align: center;
}
#customer-list table {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  line-height: 30px;
}
#customer-list legend {
  text-align: center;
}
#customer-list input[type="file"] {
  border: 1px solid red;
  position: absolute;
  right: 0;
  width: 120px;
  opacity: 0;
}
#customer-list .dowload-wrapper {
  float: right;
  position: relative;
}
#customer-list button {
  width: 120px;
}
#comment-list .comment {
  line-height: 30px;
  padding: 40px 0;
  border-top: 1px dotted #080808;
}
#comment-list p {
  display: flex;
}
#comment-list b {
  flex: 1;
}
#comment-list span {
  flex: 8;
}
.hidden {
  display: none !important;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
